:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #131313 !important;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: #131313 !important;
  color: rgba(255, 255, 255, 0.87) !important;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.nav--button:hover {
  scale: 1.05;
  transition: all 0.2s;
}

.footer--socialButton {
  background-color: rgb(41, 41, 41) !important;
  width: 40px;
  height: 40px;
}

.footer--socialButton:hover {
  background-color: rgb(114, 114, 114) !important;
}

.cardComp {
  background-color: #191919 !important;
}

.cardComp:hover {
  background-color: #292928 !important;
}
