:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #131313 !important;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: #131313 !important;
  color: rgba(255, 255, 255, 0.87) !important;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
}

a:hover {
  text-decoration: underline !important;
}

.nav--button {
  text-decoration: none !important;
}

.nav--button:hover {
  scale: 1.05;
  border: solid 1px white !important;
  transition: all 0.1s;
}

.footer--socialButton {
  background-color: rgb(41, 41, 41) !important;
  width: 40px;
  height: 40px;
}

.footer--socialButton:hover {
  background-color: rgb(114, 114, 114) !important;
}

.cardComp {
  background-color: #191919 !important;
}

.cardComp:hover {
  background-color: #292928 !important;
}

.cardSubtitle {
  color: #747474 !important;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;
}

.playButton {
  background-color: #1ed661 !important;
}

.card--playButton {
  position: absolute;
  right: 10px;
  bottom: 0;
  opacity: 0;
  transform: translateY(5px);
  transition: all 0.2s ease-in-out !important;
}

.cardComp:hover .card--playButton {
  opacity: 1;
  transform: translateY(-10px);
}

.playButton:hover {
  scale: 1.1;
  background-color: #1ce265 !important;
}

.playButton:active {
  scale: 1;
  opacity: 0.8;
}

.socialsAuthButton:hover {
  border-color: white !important;
}

.authFormInput:focus {
  border-color: white !important;
  /* box-shadow: none !important; */
}

.authFormInput:hover {
  border-color: white !important;
}

.switchButton {
  background-color: green !important;
}

.authSubmitButton {
  background-color: #1ed661 !important;
  transition: scale 0.1s ease-in-out !important;
}

.authSubmitButton:hover {
  scale: 1.05;
}

.authSubmitButton:active {
  scale: 1;
  opacity: 0.8;
}

.sidebar--link,
.sidebar--link:hover,
.header--link,
.header--link:hover,
.nav--button-link,
.nav--button-link:hover,
.card-link:hover {
  text-decoration: none !important;
}

.header {
  background-color: #070707 !important;
}

.transparent-header {
  background-color: rgba(0, 0, 0, 0.5) !important;
  transition: all 0.1s linear !important;
}

.header--search:focus {
  border: 1px solid white !important;
}

.card-link {
  text-decoration: none !important;
  color: inherit !important;
}

.playlistpage {
  position: relative;
  top: -76px;
}

.playlistpage--banner {
  background: linear-gradient(rgb(104, 121, 138) 0%, transparent 100%);
  padding-top: 76px;
}

.playlistpage--banner-spotifyicon {
  width: 24px;
  height: 24px;
}

.playlistpage--banner-buttons {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.playlistpage--table-row {
  cursor: pointer !important;
  color: #b3b3b3 !important;
}

.playlistpage--table-row:hover,
.playlistpage--table-row-active {
  background-color: #303235 !important;
  color: white !important;
}

td {
  vertical-align: middle !important;
}

.playlistpage--table-row-follow {
  visibility: hidden !important;
}

.playlistpage--table-row:hover .playlistpage--table-row-follow,
.playlistpage--table-row-active .playlistpage--table-row-follow {
  visibility: visible !important;
}

@media screen and (max-width: 768px) {
  .homeSection--cards-wrapper {
    overflow-x: scroll !important;
  }
}

@media screen and (min-width: 759px) {
  .homeSection--cards-wrapper {
    overflow-x: hidden !important;
  }
}
